*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

::selection{

}


.index{
    // font-family: "Your font here";

   background-image: url(../images/Bitmap.jpg);
   background-size: cover;
    flex-shrink: 0;
background-repeat: no-repeat;
    

}

